<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.xing.manage">

    <application>
        <activity android:name=".activity.ManageActivity">
        </activity>
        <activity android:name=".activity.HistoryActivity">
        </activity>
        <activity android:name=".activity.ShowPhotoActivity"></activity>
        <activity android:name=".activity.device.DeviceDetailActivity"></activity>
        <activity android:name=".activity.device.LineListActivity">s</activity>
        <activity android:name=".activity.device.AreaListActivity">s</activity>
        <activity android:name=".activity.device.RecordListActivity">s</activity>
    </application>

</manifest>